<ion-header [translucent]="true">
  <ion-toolbar class="header">
    <ion-title> Everis Car App </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" [ngClass]="{'custom-ion-content': isToBack}">
  <ion-grid>
    <ion-row>
      <div *ngIf="!isToBack" class="text-center startButton">
        <button (click)="startCameraBelow()">
          <p class="m-0 p-0">Empezar</p>
        </button>
      </div>
    </ion-row>
  </ion-grid>

  <ion-fab *ngIf="isToBack" vertical="bottom" horizontal="start" slot="fixed">
    <ion-fab-button class="button-circle" (click)="takePicture();">
      <ion-icon name="aperture-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-fab *ngIf="isToBack" vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button class="button-circle" (click)="switchCamera()">
      <ion-icon name="sync-circle-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
